.body {
    text-align: center;
}

.row {
    justify-content: center;
    display: flex;
}

.nav {
    justify-content: center;
    display: flex;
    text-align: center;
}

.container {
    justify-content: center;
}