.carousel {
    margin-left: auto;
    margin-right: auto;
    width:1280px;
    height:720;
}

.row {
    margin-right: auto;
}

.card{
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}


